.section
    .container
    
        .news
            .news__title.title_m
                h2 Новинки
            .news__box
                include ../../blocks/item/index.pug
                include ../../blocks/item/index.pug
                include ../../blocks/item/index.pug
                include ../../blocks/item/index.pug
                include ../../blocks/item/index.pug
            a(href="javascript:void(0)").news__link.link
                span Смотреть всё
