.item
    .item-top
        .item__label
            span New
        .item__img
            img(src="img/item.jpg", alt="")
        .item__fav
            +svg({
                name: 'fav'
            })
    .item-center
        .item__title
            p Кепка мужская черная
        .item__text
            p Secret Artist
        .item__rating
            +svg({
                name: 'star'
            })
            +svg({
                name: 'star'
            })
            +svg({
                name: 'star'
            })
            +svg({
                name: 'star'
            })
            +svg({
                name: 'star'
            })
    .item-bottom
        .item__type
            img(src="img/type.png", alt="")
            p lady & gentleman
        .item__price
            span 500 000 ₽
        .item__price_old
            span 1200 ₽
        